footer {
    background-color: rgba(59, 104, 190, 0.8);
}

nav {
    background-color: rgba(59, 104, 190, 0.8);
}

#override .navbar-brand {
    color: white;
}

#override .nav-link {
    color: gold;
}

small {
    color: gold;
}

img {
    width: 60%;
    display: block;
    margin: auto;
    padding-bottom: 2rem;
}

.col-md-8 {
    padding-bottom: 2rem;
}